################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet/bin/Debug
/dotnet/.vs/LumberjackRL/v14
